* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.game-title {
  font-size: 2rem;
  font-weight: bold;
}

.boards {
  display: flex;
  gap: 2rem;
}

.board {
  width: 300px;
  height: 300px;
}

.board table {
  height: 100%;
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
}

.board-row .cell {
  border: 1px solid black;
}
