* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #669BBC;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.game-title {
  font-size: 2rem;
  font-weight: bold;
}

.boards {
  display: flex;
  gap: 2rem;
}

.board {
  width: 300px;
  height: 300px;
}

.board table {
  height: 100%;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;
}

.board-row .cell {
  background-color: #DAF7DC;
  border: 1px solid black;
}


.board-row .cell[data-status="hit"] {
  background-color: #E4572E;
}

.board-row .cell[data-status="miss"] {
  background-color: #7A7977;
}

.board.show {
  .cell[data-status="ship"] {
    background-color: #29335C;
  }
}

.board.hide {
  .cell {
    background-color: black;
  }
}
